h2{ color: gray;}
h2:hover { 
    color: #fff ; 
    text-decoration: underline;

}
#background{
    background-color: gray;
}
* {
    margin: 0;
    padding: 0;
} 
.display{
    background-color: #c7c7c7;
}